{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'homepage:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        ACME SHOP
      </a>  
        <ul class="nav  nav-pills">
          {% with request.resolver_match.view_name as view_name %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'homepage:index' %}active{% endif %}" 
            href="{% url 'homepage:index' %}">Главная</a>  
          </li>
          <li>
            <a class="nav-link {% if view_name == 'catalog:product_list' %}active{% endif %}"
            href="{% url 'catalog:product_list' %}">Каталог</a>       
          </li>
          <li>
            <a class="nav-link {% if view_name == 'about:description' %}active{% endif %}" href="{% url 'about:description' %}">О проекте</a>
          </li>
          {% endwith %}
        </ul>
    </div>
  </nav>
</header>